<h1 style="margin-top: 5%;">Não vou te obrigar
    A ficar aqui
    'Tá ruim pra você
    E não 'tá bom pra mim
    Já percebeu que quando 'cê sorri
    O motivo não é mais eu
    Que quando eu 'to feliz é porque meu time venceu
    Ou coisa parecida
    Não tem nada a ver com a nossa vida
    Melhor terminar, cada um por si
    Um ponto final
    As vezes é o começo e não o fim
    Melhor terminar, não tem mais arrepio
    Café e amor
    São duas coisas que não servem frios
    Melhor terminar, cada um por si
    Um ponto final
    As vezes é o começo e não o fim
    Melhor terminar, não tem mais arrepio
    Café e amor
    São duas coisas que não servem frios
    Já percebeu que quando 'cê sorri
    O motivo não é mais eu
    Que quando eu 'to feliz é porque meu time venceu
    Ou coisa parecida
    Não tem nada a ver com a nossa vida
    Melhor terminar, cada um por si
    Um ponto final
    As vezes é o começo e não o fim
    Melhor terminar, não tem mais arrepio
    Café e amor
    São duas coisas que não servem frio
    Melhor terminar, cada um por si
    Um ponto final
    As vezes é o começo e não o fim
    Melhor terminar, não tem mais arrepio
    Café e amor
    São duas coisas que não servem frio</h1>